name: Generate Snake Animation

on:
  schedule: 
    - cron: "0 */12 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake.svg
        uses: Platane/snk@master
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg
         
          palette: |
            [
              "#2E3440",  # Dark gray
              "#88C0D0",  # Light blue
              "#81A1C1",  # Blue
              "#5E81AC",  # Dark blue
              "#BF616A",  # Red
              "#D08770",  # Orange
              "#EBCB8B",  # Yellow
              "#A3BE8C",  # Green
              "#B48EAD"   # Purple
            ]

      - name: Push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
          commit_message: "Update snake animation - $(date +'%Y-%m-%d %H:%M:%S')"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
